* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukita", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.div-img {
  height: 200px;
}

button {
  background-color: #c51111;
  color: #fff;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.2);
}

button:active {
  transform: scale(1.3);
}

.div-mario {
  height: 500px;
}
.caixa-principal {
  width: 40%;
}

.caixa-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
}

.caixa-mae {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 100px;
  padding-top: 150px;
  justify-content: space-around;
}

.mascara {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  position: fixed;
  top: 0;
}
p {
  color: #fff;
  font-weight: 40px;
}

.link-watsaap img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.caixa-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(10, 12, 16, 0.95);
  z-index: 100;
}

.caixa-header img {
  height: 50px;
}

.caixa-header a {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.caixa-header a:hover {
  color: #c51111;
  font-size: 26px;
  transition: 0.5s ease-in-out;
}
.fale-comosco {
  background-color: #fff;
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: fixed;
  padding: 20px;
  border-radius: 5px;
  top: 30%;
  left: -300px;
  transition: left 1s ease-in-out;
}

input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 5px;
  outline-color: #18d80f;
}
textarea {
  width: 270px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  outline-color: #18d80f;
}
.mascara-formulario {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  transition: visibility 1s ease-in-out;
}

/* Media query
max -> Valor menor que Npx,aplica o css do Media
min -> Valor maior que Npx, aplicado o css do Media
 */

@media (max-width: 1100px) {
  p {
    display: none;
  }
  .caixa-mae {
    flex-direction: column;
    padding: 10px;
  }

  .caixa-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .div-img {
    width: 80vw;
    height: auto;
  }
  .caixa-header {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caixa-header img {
    display: none;
  }
  .caixa-header a {
    font-size: 17px;
  }
}
